{% extends '模板.html' %}


{% block 页面标题 %}
    博客列表
{% endblock %}


{% load staticfiles %}
{% block 引用样式 %}
    <link rel="stylesheet" type="text/css" href="{% static '博客列表.css' %}">
{% endblock %}


{% block 选中导航栏博客 %}active bg-info{% endblock %}


{% block 内容 %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h3 style="margin: 0em" class="text-center">
                            <i class="fa fa-list-ul" aria-hidden="true"></i> {% block 卡片标题 %}博客列表{% endblock %}
                        </h3>
                    </div>
                    <div  style="margin: 0.5em 0.5em 0em 0.5em"  class="card-block">
                        {% block 遍历 %}
                            {% for 博客 in 博客列表 %}
                                <div class="博客摘要">
                                    <h4 style="display: inline">
                                        <a href='{% url '博客内容' 博客.pk %}'>
                                            {{ 博客.标题方法 }}
                                        </a>
                                    </h4>
                                    <span style="font-size: 1em；display:block; float:right">点赞数:{{ 博客.被点赞数方法 }}</span>
                                    <span style="font-size: 1em；display:block; float:right">阅读量:{{ 博客.阅读计数方法 }}&nbsp;&nbsp;</span>
                                    <p style="text-indent: 2em">{{ 博客.内容方法|truncatechars_html:50|striptags|safe }}</p>
                                </div>
                            {% empty %}
                                <div class="博客摘要"><h4>暂无博客</h4></div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                    <div class="card-footer text-muted">
                        <p style="margin: 0em">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{% block 卡片页脚 %}
                                共有{{ 对应博客页面.paginator.count }}篇博客
                            {% endblock %}
                        </p>
                    </div>
                </div >

                <nav id="分页器" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li  style="margin-right : 1em" class="page-item">
                            {% if 对应博客页面.has_previous %}
                                <a class="page-link" href="?页码=1" aria-label="Previous">
                                    <span>首页</span>
                                </a>
                            {% else %}
                                <a class="page-link">
                                    <span aria-hidden="true">首页</span>
                                </a>
                            {% endif %}
                        </li>
                        <li class="page-item">
                            {% if 对应博客页面.has_previous %}
                                <a class="page-link" href="?页码={{ 对应博客页面.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            {% else %}
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            {% endif %}
                        </li>
                        {% for 页码 in 分页器.page_range %}
                            {% if 页码 == 对应博客页面.number %}
                                <li class="page-item active">
                                    <a class="page-link">
                                        {{ 页码 }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?页码={{ 页码 }}">
                                        {{ 页码 }}
                                    </a>
                                </li>
                            {%endif %}
                        {% endfor %}
                        <li class="page-item">
                            {% if 对应博客页面.has_next %}
                                <a class="page-link" href="?页码={{ 对应博客页面.next_page_number}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% else %}
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% endif %}
                        </li>
                        <li style="margin-left : 1em" class="page-item">
                            {% if 对应博客页面.has_next %}
                                <a class="page-link" href="?页码={{ 分页器.num_pages }}" aria-label="Previous">
                                    <span>尾页</span>
                                </a>
                            {% else %}
                                <a class="page-link">
                                    <span aria-hidden="true">尾页</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="d-none d-sm-block col-sm-4 col-md-3 col-lg-3">
                <div style="margin : 0em 0em 1.5em 0em" class="card">
                    <div class="card-header">
                        <h4 style="margin : 0em" class="text-center"><i class="fa fa-list-ul" aria-hidden="true"></i> 分类</h4>
                    </div>
                    <div class="card-block">
                        <ul style="margin : 0.5em 0em" class="navbar-btn">
                            {% for 类型 in 所有博客类型 %}
                                <li style="list-style-type: circle">
                                    <a href = '{% url '博客类型' 类型.pk%}' class="badge badge-primary" target="_Blank">
                                        {{ 类型.类型名称方法 }}
                                    </a>&nbsp;<span>({{ 类型.数量 }})</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4 style="margin : 0em" class="text-center"><i class="fa fa-list-ul" aria-hidden="true"></i> 日期归档</h4>
                    </div>
                    <div class="card-block">
                        <ul style="margin : 0.5em 0em" class="navbar-btn">
                            {% for 日期,数量 in 博客日期与数量列表.items %}
                                <li style="list-style-type: circle">
                                    <a href = '{% url '博客日期归档' 日期.year 日期.month %}' class="badge badge-primary" target="_Blank">
                                        {{ 日期|date:"Y年m月" }}
                                    </a>&nbsp;<span>({{ 数量 }})</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
